* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: black;
}



body {
  min-height: 100vh;
  background: linear-gradient(to bottom left, #fcfcfc, #da6f0b);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  background-color: #3498db;
}

.container-principal {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  max-width: 1200px;
  gap: 20px;
}

.gif-esquerdo, .gif-direito{
  flex-shrink: 0;
}


.container {
  background-color: rgb(247, 248, 249);
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  min-width: 300px;
  flex: 1;
}

h3 {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 30px;
  color: #2c3e50;
}

form {
  width: 100%;
}

fieldset {
  border: none;
  margin-bottom: 25px;
}

#sexogostoso{
  
  border: 3px solid #06065d;
  border-radius: 10px;
  
}


legend {

  font-weight: bold;
  font-size: 1.1rem;
  color: #2c3e50;
  margin-bottom: 10px;
  text-align: center;
  
}

label {
  display: block;
  margin-bottom: 15px;
  color: #333;
  font-weight: 500;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="date"],
input[type="number"],
input[type="color"],
select,
textarea {
  width: 100%;
  padding: 12px 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #fdfdfd;
  font-size: 1rem;
  transition: border 0.3s ease;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
  border-color: #3498db;
}

input[type="radio"],
input[type="checkbox"] {
  margin-right: 8px;
  transform: scale(1.1);
  cursor: pointer;
}

input[type="range"] {
  width: 100%;
  margin-top: 10px;
}

textarea {
  resize: vertical;
  min-height: 100px;
}


#enviar_id {
  width: 100%;
  background-color: #e74c3c;
  color: white;
  font-size: 1rem;
  padding: 12px;
  border: none;<div class="gifimg">
    <img src="img/valdei-ezgif.com-webp-to-gif-converter.webp" alt="gif ronaldobaiano">
  </div>
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#enviar_id:hover {
  background-color: #c0392b;
}

@media (max-width: 600px) {
  .container {
    padding: 25px;
  }

  h3 {
    font-size: 1.4rem;
  }

  label {
    font-size: 0.95rem;
  }
}
